        #container-fluid {
            position: absolute;
            top: 20%;
            left: 23%;
            width: 500px;
            height: 500px;
            border: 3px solid purple;
            background-image: url("paper.jpg");
            background-size: cover;
        }
        
        body {
            margin: 0;
            font-size: 2rem !important;
            font-weight: 400;
            line-height: 1.5;
            color: black;
            text-align: left;
            background-color: bisque !important;
            font-family: 'Josefin Sans', sans-serif !important;
        }
        
        a {
            color: black !important;
            text-decoration: none;
            background-color: transparent;
        }
        
        footer,
        .fixed-bottom {
            background-color: purple;
            text-align: center;
            color: white;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        #startTime {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        #questionsDiv {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 25px;
        }
        
        #currentTime {
            float: right;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 22px;
        }
        
        #goBack {
            background-color: purple;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            left: 55%;
            width: auto;
            text-align: center;
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        #clear {
            background-color: purple;
            position: relative;
            padding: 10px;
            font-size: 20px;
            color: white;
            top: 30%;
            right: 5%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        button {
            border-radius: 8px;
        }
        
        textarea {
            width: 90%;
            margin: 20px;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        #Submit {
            background-color: purple;
            margin-left: 33%;
            padding: 15px 32px;
            font-size: 20px;
            color: white;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        label {
            margin-right: 10px;
        }
        
        input {
            margin-bottom: 20px;
            width: 50%;
            border: 3px solid rgb(116, 111, 111);
        }
        
        h1 {
            text-align: center;
        }
        
        li {
            background-color: purple;
            margin-top: 10px;
            padding: 5px 15px;
            width: 80%;
            font-size: 18px;
            color: white;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        #createDiv {
            margin-top: 20px;
            border-top: 3px solid lightgray;
        }
        /* Start media queries */
        
        @media screen and (max-width: 768px) {
            /* Resized content to fit 768px  */
            body {
                max-width: 768px;
            }
            /* Resized main-content to fit 768px  */
            #container-fluid {
                position: fixed;
                width: 70%;
                height: 70%;
            }
            a {
                margin-left: 20%;
            }
            #questionsDiv {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 18px;
            }
            #startTime {
                margin-left: 33%;
                padding: 10px 15px;
                font-size: 15px;
            }
        }
        /* A Media Query max-width: 640px */
        
        @media screen and (max-width: 576px) {
            /* Resized content to fit 640px  */
            body {
                max-width: 576px;
            }
            /* Resized main-content to fit 640px  */
            #container-fluid {
                position: absolute;
                left: 10%;
            }
            #clear {
                position: relative;
                font-size: 12px;
            }
            #goBack {
                position: relative;
                left: 60%;
                font-size: 12px;
            }
            #startTime {
                margin-left: 33%;
                padding: 10px 15px;
                font-size: 10px;
            }
            #currentTime {
                float: right;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 12px;
            }
            #questionsDiv {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 12px;
            }
            a {
                margin-left: 10%;
            }
        }